.header

.contents
  .contents__left
    .contents__left__header
      .contents__left__header__box
        .contents__left__header__box__name
        name
        .contents__left__header__box__menu
          .contents__left__header__box__menu__new
            =fa_icon 'cog'
            
           
          .contents__left__header__box__menu__edit
          o
    .contents__left__groups
        
  .contents__main
    .contents__main__header
      .contents__main__header__left-box
        こんにちは
    .contents__main__messages
    .contents__main__form
      .contents__main__form__new_message
  
    
    