.header {
  
  
}
.contents{
  box-sizing: border-box;
  display: block;

  &__left {
    height: 100vh;
    background-color: #2f3e51;
    width: 300px;
    float: left;

    &__header{
      align-items: center;
      box-sizing: border-box;
      color: #ffffff;
      display: flex;
      height: 100px;
      background-color: #253141;
      width: 300px;
      padding-left: 20px;
      padding-right: 20px;

      &__box{
        box-sizing: border-box;
        color: #ffffff;
        display: flex;
        font-weight: 700;
        height: 18px;
        width: 260px;
        justify-content: space-between;

        &__name {
          
        }
        &__menu {
          list-style-position: outside;
          list-style-image: none;
          list-style-type: none;
          display: flex;

          &__new {
            box-sizing: border-box;
            color: #ffffff;
            display: block;
            margin: 4.8px;

          }
          &__edit {
            box-sizing: border-box;
            color: #ffffff;
            display: block;
            margin: 4.8px;

          }
        }
      }
    }

    &__groups {
      height: 582px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      overflow-x: scroll;
      overflow-y: scroll;
      color: #ffffff;
    }
  }
  
  &__main {
    height: 100vh;
    width: 680px;
    float: left;

    &__header {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #ffffff;
      display: flex;
      height: 100px;
      justify-content: space-between;
      overflow-x: scroll;
      overflow-y: scroll;
      padding-left: 40px;
      padding-right: 40px;

      &__left-box {
        margin-top: 35px;

        &__group{
          font-size: 20px;
          font-weight: 400;
          margin-block-end: 15px;
          margin-bottom: 15px;
          height: 23px;
          width: 130px;
        }

        &__list {
          display: flex;
          font-size: 12px;
          list-style-image: none;
          list-style-position: outside;
          list-style-type: none;
          height: 18px;
          width: 130px;
          color: rgb(153,153,153);
        }
      }

      &__edit-btn {
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(56,174,240);
        border-left-style: solid;
        border-left-width: 1px;
        border-right-color: rgb(56,174,240);
        border-right-style: solid;
        border-right-width: 1px;
        border-top-color: rgb(56,174,240);
        border-top-style: solid;
        border-top-width: 1px;
        border-bottom-color: rgb(56,174,240);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        color: rgb(56,174,240);
        cursor: pointer;
        height: 40px;
        line-height: 40px;
        margin-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        position: absolute;
        right: 40px;
      }

    }
    &__messages {
      overflow-x: scroll;
      overflow-y: scroll;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 46px;
      padding-bottom: 46px;
      height: 420px;
      background-color: #fafafa;

      &__message {
        color: black;
        height: 55px;
        width: 640px;
        padding-bottom: 40px;

        &__info {
          display: flex;
          margin-bottom: 10px;
          height: 18px;
          width: 640px;

          &__talker {
            display: block;
            font-size: 16px;
            font-weight: 700;
            height: 18px;
          }

          &__date {
            display: block;
            font-size: 12px;
            margin-inline-start: 10px;
            margin-left: 10px;
            color: rgb(153,153,153);
          }
        }
        &__text {
          font-size: 14px;
          margin-block-end: 10px;
          margin-bottom: 10px;
          color: rgb(67,74,84);
        }
      }
    }



    &__form {
      height: 50px;
      padding-bottom: 20px;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 20px;
      background-color: #ddd;
      

      &__new_message {
        display: flex;
        height: 50px;
        background-color: #fafafa;
        align-items: center;
        width: 600px;
        
        &__input-box {
          position: relative;
          width: 481px;
          height: 50px;
          padding-left: 10px;
          padding-right: 40px;

          &__image {
            cursor: pointer;
            font-size: 20.8px;
            right: 10px;
            top: 10px;
            
            position: absolute;
          }
        }
        &__submit {
          align-items: flex-start;
          background-color: rgb(56,174,240);
          border-block-style: solid;
          border-block-color: rgb(186,186,186);
          border-block-start-width: 1px;
          border-image-repeat: stretch;
          border-image-slice: 100%;
          border-image-source: none;
          border-image-width: 1;
          color: #ffffff;
          cursor: pointer;
          font-size: 16px;
          font-stretch: 100%;
          font-weight: 400;
          height: 50px;
          margin-left: 15px;
          padding-left: 30px;
          padding-right: 30px;
          text-align: center;
          text-rendering: auto;
          white-space: pre;
          width: 48px;
          }
      }
    }
  }
}

